* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', Arial, sans-serif;
  height: 100%;
  width: 100%;
}
/* 手机模式下 */
.mobile {
  display: none;
}

.template-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 20%;
}
/* 左侧 */
.template-box .wrap-left {
  width: 32.5%;
  background-color: #17426c;
}
.image-box {
  height: 18.3rem;
  text-align: center;
  background-color: #f6f6f6;
}
.image-box img.oauth-image {
  width: 10rem;
  height: 13rem;
  border: 0.3rem solid #ffffff;
  margin: 2.5rem 0;
}
.borderColor {
  width: 100%;
  height: 1.5rem;
  background-color: #f7ce3c;
}
/* 基本信息 */
.introduce-box {
  width: 100%;
  color: #ffffff;
}
.introduce-box .item-cell {
  font-size: 1rem;
  padding: 3rem 0.5rem 3rem 2rem;
}
.item-cell li {
  padding-left: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.item-cell li.job {
  padding-left: 0.38rem;
  margin-top: 1.5rem;
  font-size: 0.88rem;
}
.item-cell li.remark {
  padding-left: 0.38rem;
  margin-top: 0.3rem;
  font-size: 0.88rem;
  line-height: 1.5rem;
}
.item-cell p.forward-job {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.68rem;
}

/* 链接 */
a.link-demo {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* 右侧 */
.color {
  color: #165391;
}
.wrap-right {
  width: 58%;
  padding: 2rem;
  background-color: #fff;
}
.oauth-box p.oauth-name {
  font-size: 3rem;
}
.oauth-box p.intention {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.self-introduce {
  margin-top: 2.5rem;
  font-size: 1rem;
  line-height: 2;
  color: #495060;
}
p.wrap-title {
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 0.1rem solid #e7e7e7;
  padding: 0 0 0.5rem 0;
  margin: 1.5rem 0;
}
p.wrap-title i.wrap-icon {
  margin-right: 0.68rem;
}
/* 工作经验 */
.exper-box {
  font-size: 0.9rem;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 1rem 0 2.3rem;
}
.column {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
.item-cell-one {
  flex: 1;
  font-size: 0.92rem;
}
.item-cell-two {
  flex: 2;
  font-size: 0.92rem;
}
ul.intro-skill-cell {
  color: #495060;
}
ul.intro-skill-cell > li.skill-li {
  list-style: outside;
  margin-left: 1.6rem;
  line-height: 2.4rem;
  font-size: 0.92rem;
}
/* 项目经验 */
ul.time-vertical {
  list-style-type: none;
  border-left: 1px solid #165391;
  padding: 0px;
  margin-left: 0.4rem;
}
.time-vertical li.vertical-li-style {
  position: relative;
}
.time-vertical li.vertical-li-style a {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: #165391;
  font-size: 1.1rem;
  width: 100%;
}
.time-vertical li.vertical-li-style b:before {
  content: '';
  position: absolute;
  left: -16px;
  width: 30px;
  height: 30px;
  border: 2px solid #165391;
  border-radius: 50%;
  background: #165391;
}
.time-vertical li.vertical-li-style span {
  position: absolute;
  color: #fff;
  margin-top: 3px;
  margin-left: -3px;
}
ul.experience {
  padding-left: 2.6rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 2.2rem;
  padding-bottom: 2rem;
}
ul.experience > li.introduce-project {
  list-style: outside;
  color: #495060;
}
/* 右边边框 */
.right-wrapper {
  width: 1.5%;
  background-color: #17426c;
}
